.one{
    color: white;
}
.home{
    padding-left: 60%;
    padding-bottom: 20px;
}
.first{
   background-color: blue; 
   padding-bottom: 10px;
}
.second{
    background-color: blue;
    justify-content: space-between;
}
ul{
    padding-left: 10px ;
    color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.two li{
    padding-bottom: 10px;
}
a:link{
    padding: 8px;
    text-decoration: none;
    color: lightgrey;
}
a:visited{
    color: white;
}
.active{
    border-bottom: 2px solid white;
}
li{
    display: inline;
    border: none;
    margin: 0;
    list-style: none;
    padding-right: 80px;
 }
 a:hover{
    color:yellow;
    text-decoration: none;
 }





 